body {
margin: 0em;
margin-top: 0.4em;
}
div, html, img, input, select, table, td, li,
.pageText {
font-size: 1em;
font-family: arial, verdana, helvetica, sans-serif;
}
.alertMsg,
.errMsg {
color: #FF0000;
font-weight: bold;
}
div.refMsg {
display: none;
}
div.msgBox {
border: 1px solid #dedede;
padding-bottom: 6px;
padding-top: 6px;
padding-right: 5px;
padding-left: 5px;
width: 80%;
}
div.msgBoxExcerpt {
border: 1px solid #dedede;
padding-bottom: 6px;
padding-top: 6px;
padding-right: 5px;
padding-left: 5px;
width: 70%;
}

div.imgIcon {
float:left;
color: #FF0000;
font-weight: bold;
padding-right: 5px;
}
div.imgIcon h3 {
font-size: 1em;
padding: 0px;
margin: 0px;
}
div.errMsgText,
div.alertMsgText {
color: #FF0000;
font-weight: bold;
padding-left: 26px;
}
div.confirmMsgText,
div.infoMsgText {
color: #000000;
font-weight: bold;
padding-left: 26px;
}
div.msgText {
color: #000000;
padding-left: 50px;
font-weight: normal;
}
div.errMsgText a,
div.alertMsgText a {
color: #FF0000;
font-weight: bold;
}
div.confirmMsgText a,
div.infoMsgText a {
color: #000000;
font-weight: bold;
}
div.msgText a {
font-weight: normal;
}

.pageHeading
{
font-family: arial, verdana, helvetica, sans-serif;
font-weight: bold;
font-size: 150%;
color: #8CC919;
margin: 5px 0px 0px 5px;
}
.pageHeadingBlack
{
font-family: arial, helvetica, sans-serif;
font-weight: bold;
font-size: 150%;
color: Black;
margin: 5px 0px 0px 5px;
}
.pageContent
{
margin: 5px;
}
#sdLoginBox
{
background-color: #dddddd;
background-repeat: repeat-x;
background-position: bottom left;
height: 6.7em;
width: 29.5em;
overflow: hidden;
font-size: 0.8em;
padding: 0.1em;
}
#sdLoginBox input
{
font-size: 0.9em;
}
#sdLoginBox div,
#sdLoginBox html,
#sdLoginBox img,
#sdLoginBox input,
#sdLoginBox select,
#sdLoginBox table,
#sdLoginBox td {
font-size: 1em;
font-family: arial, verdana, helvetica, sans-serif;
}
#sdLoginBoxFold
{
text-align: right;
overflow:hidden;
}
#sdQuickSearch table
{
font-size: 1.0em;
padding-bottom: 0.3em;
}
#sdQuickSearch input
{
font-size: 1em;
}
#sdQuickSearch td
{
font-family: arial, verdana, helvetica, sans-serif;
}
#sdBody {
font-size: 75%;
font-family: arial, verdana, helvetica, sans-serif;
width: 100%;
padding-top: 4px;
padding-bottom: 4px;
}
a.ActionButton {
text-decoration: none;
}
a.ActionButton:hover,
a.ActionButton:visited:hover,
#a:link .ActionButton.Active,
a:visited .ActionButton.Active {
text-decoration: underline;
}
.ActionButtonDisabled {
text-decoration: none;
color: #999999;
}
a, a:link {
text-decoration: none;
}
a:hover {
text-decoration: underline;
}
a.linkclosed:hover, a.linkopen, a.linkopen:link, a.linkopen:visited, a.linkopen:active, span.linkopen {
color: white;
background-color: #777777;
text-decoration: none;
}
.linknoborder img {
border: none;
}
.linkdisabled {
color: #999999;
}
input.xpstyle {
border: 1px solid #666666
}
input.qsinput {
height: 1.6em;
font-family: arial, verdana, helvetica, sans-serif;
}
table.sdMainNav {
background-repeat: repeat-x;
background-position: top left;
border-bottom: 0.1em solid black;
height: 2em;
margin-top: 0.2em;
width: 100%;
font-size: 1em;
}
td.sdMainNav {
background-position: top left;
background-repeat: repeat-x;
}
.sci_dirNav {
background-color: #6c9d31;
}
.sci_dirNavActive {
}
.blueNav {
background-color: #0000AA;
}
.blueNavActive {
background-color: #BAD3F3;
color: #0000AA;
}
.redNav {
background-color: #990000;
}
.redNavActive {
background-color: #F7CECE;
color: #990000;
}
.greyNav {
background-color: #7F7F7F;
}
.greyNavActive {
background-color: #E6E6E6;
color: #7F7F7F;
}
.greenNav {
background-color: #007703;
}
.greenNavActive {
background-color: #C2EDC0;
color: #007703;
}
.orangeNav {
background-color: #CC5200;
}
.orangeNavActive {
background-color: #FFDFCA;
color: #CC5200;
}
table.sdMainNav a:hover {
text-decoration: none;
}
table.sdMainNavCenter td
{
border-left: 0.01em solid white;
height: 1.82em;
font-size: 1em;
}
table.sdMainNavCenter tbody, td, tr, div {
font-size: 1em;
}
table.sdMainNavCenter
{
border-right: 0.01em solid white;
height: 1.82em;
}
table.sdMainNav a, table.sdMainNav a:link, table.sdMainNav a:visited {
color: white;
font-weight: normal;
height: 1.82em;
padding-bottom: 0.33em;
padding-top: 0.19em;
vertical-align: middle;
text-decoration: none;
}
div.sdMainNavPadding {
padding-left: 1em;
padding-right: 1em;
}
.alphaDivider {
position: relative;
display: inline;
width: 0px;
height: 0px;
}
.alphaSelect {
position: absolute;
top: -11px;
left: 0px;
height: 14px;
background-color:#777777;
}
.libBannerText {
font-size: smaller;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
.sci_dirBtn {
background-color: #7AA544;
}
.sci_dirBtnHov {
color: #FFFFFF;
background-color: #1D6B2F;
}
.blueBtn {
background-color: #0000AA;
}
.blueBtnHov {
color: #0000AA;
background-color: #BAD3F3;
}
.greenBtn {
background-color: #007703;
}
.greenBtnHov {
color: #007703;
background-color: #C2EDC0;
}
.greyBtn {
background-color: #7F7F7F;
}
.greyBtnHov {
color: #7F7F7F;
background-color: #E6E6E6;
}
.redBtn {
background-color: #990000;
}
.redBtnHov {
color: #990000;
background-color: #F7CECE;
}
.orangeBtn {
background-color: #CC5200;
}
.orangeBtnHov {
color: #CC5200;
background-color: #FFDFCA;
}
input.btn {
margin: 0px 1px 0px 0px;
font-weight: bold;
color: #FFFFFF;
font-size: 12px;
text-decoration: none;
border: 1px solid #666666;
vertical-align: middle;
cursor: pointer;
width: auto;
overflow: visible;
padding: 0px 1px 0px 1px;
}
input.btnhov {
margin: 0px 1px 0px 0px;
font-weight: bold;
font-size: 12px;
text-decoration: none;
border: 1px solid #666666;
vertical-align: middle;
cursor: pointer;
width: auto;
overflow: visible;
padding: 0px 1px 0px 1px;
}
a.articleBtn,
a.articleBtn:hover {
margin: 0px 0px 0px 0px;
padding: 1px 20px 1px 20px;
font-weight: bold;
color: #FFFFFF;
font-size: 12px;
border: none;
background-color: #999999;
text-decoration: none;
cursor: pointer;
}
a.articleBtnActive,
a.articleBtnActive:hover {
background-color: #7AA544;
text-decoration: none;
cursor: default;
}
a.articleBtn:hover {
background-color: #7AA544;
}
a.btn,
a.btn:hover {
font-size: 12px;
font-family: arial, verdana, helvetica, sans-serif;
margin: 0px 1px 0px 0px;
padding: 1px 5px 1px 5px;
height: 1.17em;
font-weight: bold;
color: #FFFFFF;
border: 1px solid #666666;
vertical-align: middle;
text-decoration: none;
}
a.sci_dirBtn {
background-color: #7AA544;
}
a.sci_dirBtn:hover {
color: #FFFFFF;
background-color: #1D6B2F;
}
a.blueBtn {
background-color: #0000AA;
}
a.blueBtn:hover {
color: #0000AA;
background-color: #BAD3F3;
}
a.greenBtn {
background-color: #007703;
}
a.greenBtn:hover {
color: #007703;
background-color: #C2EDC0;
}
a.greyBtn {
background-color: #7F7F7F;
}
a.greyBtn:hover {
color: #7F7F7F;
background-color: #E6E6E6;
}
a.redBtn {
background-color: #990000;
}
a.redBtn:hover {
color: #990000;
background-color: #F7CECE;
}
a.orangeBtn {
background-color: #CC5200;
}
a.orangeBtn:hover {
color: #CC5200;
background-color: #FFDFCA;
}
a.noul:hover {
text-decoration: none;
}
.tableFmBg {
background-color: #EFEFEF;
border-top: 2px solid #8CC919;
border-bottom: 2px solid #8CC919;
padding: 0px;
margin: 0px;
}
.sci_dirBorder {
border-top: 2px solid #8CC919;
border-bottom: 2px solid #8CC919;
}
.blueBorder {
border-top: 2px solid #0000AA;
border-bottom: 2px solid #0000AA;
}
.greenBorder {
border-top: 2px solid #007703;
border-bottom: 2px solid #007703;
}
.greyBorder {
border-top: 2px solid #7F7F7F;
border-bottom: 2px solid #7F7F7F;
}
.redBorder {
border-top: 2px solid #990000;
border-bottom: 2px solid #990000;
}
.orangeBorder {
border-top: 2px solid #CC5200;
border-bottom: 2px solid #CC5200;
}
.sci_dirBorderBtm {
border-bottom: 2px solid #8CC919;
}
.blueBorderBtm {
border-bottom: 2px solid #0000AA;
}
.greenBorderBtm {
border-bottom: 2px solid #007703;
}
.greyBorderBtm {
border-bottom: 2px solid #7F7F7F;
}
.redBorderBtm {
border-bottom: 2px solid #990000;
}
.orangeBorderBtm {
border-bottom: 2px solid #CC5200;
}
.sci_dirBoxBorder {
border: 2px solid #8CC919;
}
.blueBoxBorder {
border: 2px solid #0000AA;
}
.greenBoxBorder {
border: 2px solid #007703;
}
.greyBoxBorder {
border: 2px solid #7F7F7F;
}
.redBoxBorder {
border: 2px solid #990000;
}
.orangeBoxBorder {
border: 2px solid #CC5200;
}
.tableFmBgGray {
background-color: #EFEFEF;
font-family: arial, helvetica, sans-serif;
font-size: 1.0em;
}
.tableFmBgGrayNoCell {
background-color: #EFEFEF;
margin: 5px;
padding: 5px;
font-family: arial, helvetica, sans-serif;
font-size: 1.0em;
}
.tableFmBgPad {
background-color:  #EFEFEF;
padding-top: 5px;
padding-bottom: 5px;
margin-top: 5px;
margin-bottom: 5px;
}
.tableFmCell {
padding-left: 10px;
margin-left: 10px;
padding-top: 3px;
padding-bottom: 3px;
text-align: right;
font-weight: bold;
vertical-align: Top;
}
.tableFmCellTop {
padding-top: 0px;
text-align: right;
font-weight: bold;
vertical-align: top;
}
.tableFmCellAbove {
text-align: left;
padding: 5px;
font-weight: bold;
}
.tableFmCellL {
padding-left: 10px;
margin-left: 10px;
padding-top: 3px;
padding-bottom: 3px;
text-align: left;
font-weight: bold;
vertical-align: top;
}
.tableFmDivider {
background-color: #FFFFFF;
height: 2px;
width: 100%;
margin: 0px;
padding: 0px;
}
.redtableFmDivider {
background-color: #990000;
height: 2px;
width: 100%;
margin: 0px;
padding: 0px;
}
.SDtxtLarger {
font-family: arial, helvetica, sans-serif;
font-size: larger;
font-weight: bold;
}
.SDtxtSmall {
font-family: arial, helvetica, sans-serif;
font-size: xx-small;
color: #000000;
}
.SDtxtSmallBold {
font-size: .9em;
font-weight: bold;
}
.SDtxtNote {
font-family: arial, helvetica, sans-serif;
font-weight: normal;
color: #000000;
font-size: 1.0em;
}
.SDtxtNoteSmall {
font-family: arial, helvetica, sans-serif;
font-weight: normal;
color: #000000;
font-size: 10px;
}
.SDtxtPgTitleBlack {
font-family: arial, helvetica, sans-serif;
font-weight: bold;
color: #000000;
font-size: 150%;
}
a.errMsg {
color: #FF0000;
text-decoration: none;
}
a.errMsg:hover {
text-decoration: underline;
}
.boldText {
font-weight: bold;
}
.sci_dirColor {
color: #7AA544;
}
.blueColor
{
color: #0000AA;
}
.greenColor {
color: #007703;
}
.greyColor {
color: #7F7F7F;
}
.redColor {
color: #990000;
}
.orangeColor {
color: #CC5200;
}
.tablePlainWhite {
padding: 0px;
background-color:  #FFFFFF;
}
.inputBox {
background-color: #FFFFFF;
Border: 1px solid #666666;
vertical-align:top;
font-size: 1em;
}
a.tabActive,
a.tabActive:hover {
margin: 0px 2px 0px 0px;
padding: 1px 20px 1px 20px;
font-weight: bold;
color: #FFFFFF;
font-size: 1.0em;
border: none;
text-decoration: none;
}
a.tab,
a.tab:hover {
margin: 0px 2px 0px 0px;
padding: 1px 20px 1px 20px;
font-weight: bold;
color: #FFFFFF;
font-size: 1.0em;
border: none;
background-color: #999999;
text-decoration: none;
}
a.sci_dirTabActive,
a.sci_dirTabActive:hover {
background-color: #7AA544;
text-decoration: none;
cursor: default;
}
a.sci_dirTab:hover {
background-color: #7AA544;
}
a.blueTabActive,
a.blueTabActive:hover {
background-color: #0000AA;
text-decoration: none;
cursor: default;
}
a.blueTab:hover {
background-color: #0000AA;
}
a.greenTabActive,
a.greenTabActive:hover {
background-color: #007703;
text-decoration: none;
cursor: default;
}
a.greenTab:hover {
background-color: #007703;
}
a.greyTabActive,
a.greyTabActive:hover {
background-color: #7F7F7F;
text-decoration: none;
cursor: default;
}
a.greyTab:hover {
background-color: #7F7F7F;
}
a.redTabActive,
a.redTabActive:hover {
background-color: #990000;
text-decoration: none;
cursor: default;
}
a.redTab:hover {
background-color: #990000;
}
a.orangeTabActive,
a.orangeTabActive:hover {
background-color: #CC5200;
text-decoration: none;
cursor: default;
}
a.orangeTab:hover {
background-color: #CC5200;
}
.textBoxMultipleRow {
FONT-FAMILY:Arial, Helvetica, sans-serif;
background-color: #FFFFFF;
font-size: 1.0em;
}
a.nextPrev {
width: 1%;
color: #FFFFFF;
font-size: 1.0em;
text-decoration: none;
margin: 0px 10px 0px 10px;
}
a.nextPrev:hover {
width: 1%;
color: #FFFFFF;
font-size: 1.0em;
text-decoration: underline;
margin: 0px 10px 0px 10px;
}
input.nextPrev {
color: #0000ee;
font-size: 1.0em;
text-decoration: none;
margin: 0px 5px 0px 5px;
padding: 0px;
vertical-align: middle;
background-color: transparent;
border: none;
width: auto;
overflow: visible;
padding: 0px 1px 0px 1px;
}
input.nextPrevHov {
color: #0000ee;
font-size: 1.0em;
text-decoration: underline;
margin: 0px 5px 0px 5px;
padding: 0px;
vertical-align: middle;
background-color: transparent;
border: none;
width: auto;
overflow: visible;
padding: 0px 1px 0px 1px;
}
input.listAction {
color: #000000;
font-size: 0.95em;
text-decoration: none;
cursor: pointer;
margin: 0px 5px 0px 5px;
padding: 0px;
vertical-align: middle;
background-color: transparent;
border: none;
width: auto;
overflow: visible;
padding: 0px 1px 0px 1px;
}
.smCaps {
FONT-VARIANT: small-caps
}
.nowrap {
WHITE-SPACE: nowrap
}
span.hit {
COLOR : #FF0000 ; FONT-WEIGHT : bold
}
span.bf {
font-weight : bold ;
}
span.it {
font-style : italic ;
}
span.monospace {
font-family : courier ;
}
span.sans-serif {
font-family : sans-serif;
}
span.underline {
text-decoration : underline;
}
span.pit {
font-family: arial, verdana, helvetica, sans-serif;
color : #737373;
font-size : .9em;
}
.charImg {
vertical-align : baseline;
border : none ;
}
span.cross-out {
text-decoration : line-through ;
}
.h1 {
font-size: 2em;
font-family: arial,verdana,helvetica,sans-serif;
font-weight: bold;
}
.h2 {
font-size: 1.3em;
font-family: arial,verdana,helvetica,sans-serif;
font-weight: bold;
}
.h3 {
font-size: 1.2em;
font-family: arial,verdana,helvetica,sans-serif;
font-weight: bold;
}
.h4 {
font-size: 1.1em;
font-family: arial,verdana,helvetica,sans-serif;
font-weight: bold;
}
.h5 {
font-size: 1.0em;
font-family: arial,verdana,helvetica,sans-serif;
font-weight: bold;
}
.ImageScroller {
width : 100%;
overflow: auto;
}
.ImageScrollerPurchHist {
width : 455;
overflow: auto;
}
.ImageScrollerPurchCurr {
width : 415;
overflow: auto;
}
div.auto_complete {
    position:absolute;
    width:250px;
    background-color:white;
    border:1px solid #888;
    margin:0px;
    padding:0px;
    z-index:100;
}
div.auto_complete ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
}
div.auto_complete ul li.selected { background-color: blue; color: white; }
div.auto_complete ul li {
    list-style-type:none;
    display:block;
    margin:0;
    padding:2px;
    cursor:pointer;
}
.previewBox {
    display: none;
    width: 95%;
    height: 325px;
    padding: 10px;
    border: 1px solid grey;
    background-color:#EEEEEE;
}
.previewBar1 {
    display: block;
    clear: both;
    float: none;
    padding: 0.5em;
    background-color:#FFFFFF;
}
.previewBar2 {
    display: block;
    width:100%;
    height:20;
    font-weight: bold;
    border-bottom:1px solid #CCCCCC;
}
.previewContent {
    height: 280px;
    padding: 0.5em;
    background-color:#FFFFFF;
    overflow: auto;
}
.txtHidden {
    position:absolute;
    left:0px;
    top:-500px;
    width:1px;
    height:1px;
    overflow:hidden;
}
.font1 {
font-size: 0.8em;
}
.font2 {
font-size: 0.9em;
}
.font3 {
font-size: 1em;
}
.font4 {
font-size: 1.1em;
}
.font5 {
font-size: 1.2em;
}
.resultRow {
    border-top: 1px solid #EEEEEE;
}
a.blackLink {
    font-size: 0.95em;
    color: #000000;
}
